/* Grid container */
main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    height: 100vh;
}

/* Grid Items */
aside {
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside img {
    max-width: 100%;
    height: auto;
}

article {
    padding: 20px;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}
